body
{
	background-color: lightgreen;
}

#gambar {
	height: 100px;
	position: absolute;
}

p {
	text-align: left;
	color: darkblue;
}

table {
	border-collapse: collapse;
	font-family: Abadi, sans-serif;
}

th, td {
	padding: 5px;
	border: 2px solid black;
}

td {
	width: 150px;
}
