body
{
	background-image: url(snow.png);
}

#gambar {
	height: 100px;
	position: absolute;
}

p {
	text-align: left;
	color: lightyellow;
	font-size: 25px;
}

table, th, td {
	border-collapse: collapse;
	font-family: Abadi, sans-serif;
	padding: 5px;
	border: 2px solid white
}

th {
	text-align: center;
	color: white;
	font-weight: bold;
	width: 150px;
}

td {
	width: 150px;
	color: white;
}